/* CSS Document 
#80211D = rojo oscuro color primario
#C23330 
#EE9A98
#005C8D = azul color secundario
#A4BAC7 = azul alternativo
*/

/*Body*/
body{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px; 
    background-color:#82ABC5;

}

div.background
  {
    background-image:url('logo_relieve.jpg');
    background-repeat: repeat;
  /* for IE 
  filter:alpha(opacity=10);
  /* CSS3 standard 
  opacity:0.1;*/
  }
div.foreground
  {

}
/*Fuentes*/
h1.tw{
    color:#80211D;
    font-size:24px;
}
h2.tw{
    color:#80211D; 
    font-size:20px;
}
h2.tw2{
    color:#005C8D; 
    font-size:20px;
}
h1.basico{
    font-size:24px;
}
h2.basico{
    font-size:20px;
}
p.tw2{
    color:#005C8D; 
    font-size:10px;
}
p.basico{
    font-size:10px;
}

/*Tablas*/
#tabla-tarifas
{
width:70%;
border-style:none;
border-spacing: 2px;
border-collapse:separate;
}
#tabla-tarifas td, #tabla-tarifas th 
{
text-align:left;
font-size:1em;
padding:2px 7px 2px 7px;
}
#tabla-tarifas th 
{
font-size:1.1em;
padding-top:5px;
padding-bottom:4px;
background-color:#80211D;
color:#ffffff;
}
#tabla-tarifas tr.alt td 
{
color:#000000;
background-color:#EE9A98;
}

table.tw_form
{
    
}


table.tw_in
{
    border-collapse:collapse;
    border-style:inset;
    border-color:#80211D;
}

th.tw_form
{
    font-size:20px;
    color:#80211F;
}

th.tw
{
    background-color:#80211F;
}

tr.tw
{
    background-color:#CE8785;
}
td.tw
{
    border:solid 1px #005C8D;
}

td.tw_form
{
    text-align:center;
}

/*Lineas*/
hr.tw
{
    border-style:inset;

}

/*Cajas de texto*/
input.tw_form
{
    border:solid 1px #005C8D;
}


