/* CSS Document 
#80211D = rojo oscuro color primario
#C23330 
#EE9A98
#005C8D = azul color secundario
#A4BAC7 = azul alternativo
*/

/*Body*/
body{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px; 
    background-color:#82ABC5;

}

div.background
  {
    background-image:url('logo_relieve.jpg');
    background-repeat: repeat;
  /* for IE 
  filter:alpha(opacity=10);
  /* CSS3 standard 
  opacity:0.1;*/
  }

/*Fuentes*/
h1.tw{
    color:#80211D;
    font-size:24px;
}
h2.tw{
    color:#80211D; 
    font-size:20px;
}
h2.tw2{
    color:#005C8D; 
    font-size:20px;
}
h1.basico{
    font-size:24px;
}
h2.basico{
    font-size:20px;
}
p.tw2{
    color:#005C8D; 
    font-size:10px;
}
p.basico{
    font-size:10px;
}

/*Tablas*/
#list-tarifas
{
border-style:none;
border-spacing: 1px;
border-collapse:separate;
}

#list-tarifas th 
{
font-size:10px;
padding-top:3px;
padding-bottom:2px;
background-color:#80211D;
color:#ffffff;
}

#list-tarifas td 
{
text-align:left;
font-size:10px;
padding:3px 7px 2px 7px;
}

#list-tarifas-body
{
border-style:none;
border-spacing: 1px;
border-collapse:separate;
}
#list-tarifas-body th
{
font-size:10px;
padding-top:3px;
padding-bottom:2px;
background-color:#80211D;
color:#ffffff;
}

#list-tarifas-body td
{
text-align:left;
font-size:10px;
padding:3px 7px 2px 7px;    
}


#list-tarifas tr.alt td 
{
color:#000000;
background-color:#EE9A98;
}

#tabla-busqueda
{
width:70%;
border-style:none;
border-spacing: 2px;
border-collapse:separate;
}
#tabla-busqueda td, #tabla-busqueda th 
{
text-align:left;
font-size:1em;
padding:2px 7px 2px 7px;
}
#tabla-busqueda th 
{
font-size:1.1em;
padding-top:5px;
padding-bottom:4px;
background-color:#80211D;
color:#ffffff;
}
#tabla-busqueda tr.alt td 
{
color:#000000;
background-color:#EE9A98;
}

#list-documento
{
border-style:none;
border-spacing: 1px;
border-collapse:separate;
}

#list-documento-body th 
{
font-size:10px;
padding-top:3px;
padding-bottom:2px;
background-color:#80211D;
color:#ffffff;
}

#list-documento td 
{
text-align:left;
font-size:10px;
padding:3px 7px 2px 7px;
}

#list-documento-body
{
border-style:none;
border-spacing: 1px;
border-collapse:separate;
}
#list-documento-body th
{
font-size:10px;
padding-top:3px;
padding-bottom:2px;
background-color:#80211D;
color:#ffffff;
}

#list-documento-body td
{
text-align:left;
font-size:10px;
padding:3px 7px 2px 7px;    
}


#list-documento tr.alt td 
{
color:#000000;
background-color:#EE9A98;
}


#tabla-traductor td.titulo
{
    font-size: 15px;
    color: #80211D;
}

table.tw_form
{
}


table.tw_in
{
    border-collapse:collapse;
    border-style:inset;
    border-color:#80211D;
}

th.tw_form
{
    font-size:20px;
    color:#80211F;
    padding-top:2px;
    padding-bottom:4px;
}

th.tw
{
    background-color:#80211F;
}

tr.tw
{
    background-color:#CE8785;
}
td.tw
{
    border:solid 1px #005C8D;
}

td.tw_form
{
    text-align:center;
}

/*Lineas*/
hr.tw
{
    border-style:inset;

}

/*Cajas de texto*/
input.tw_form
{
    border:solid 1px #005C8D;
}

textarea.tw_form
{
    border:solid 1px #005C8D;
}



A:hover {COLOR: #0066CC; TEXT-DECORATION: none}
a {
     border-bottom-style:none
}