/* CSS Document 
#80211D = rojo oscuro color primario
#C23330 
#EE9A98
#005C8D = azul color secundario
#A4BAC7 = azul alternativo
*/

/*Body*/
body{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px; 
    background-color:#82ABC5;

}

div.background
  {
    background-image:url('logo_relieve.jpg');
    background-repeat: repeat;
  /* for IE 
  filter:alpha(opacity=10);
  /* CSS3 standard 
  opacity:0.1;*/
  }

/*Fuentes*/
h1.tw{
    color:#80211D;
    font-size:24px;
}
h2.tw{
    color:#80211D; 
    font-size:20px;
}
h2.tw2{
    color:#005C8D; 
    font-size:20px;
}
h1.basico{
    font-size:24px;
}
h2.basico{
    font-size:20px;
}
p.tw2{
    color:#005C8D; 
    font-size:10px;
}
p.basico{
    font-size:10px;
}

/*Tablas*/
#list-tarifas
{
border-style:none;
border-spacing: 1px;
border-collapse:separate;
}

#list-tarifas th 
{
font-size:10px;
padding-top:3px;
padding-bottom:2px;
background-color:#80211D;
color:#ffffff;
}

#list-tarifas td 
{
text-align:left;
font-size:10px;
padding:3px 7px 2px 7px;
}

#list-tarifas-body
{
border-style:none;
border-spacing: 1px;
border-collapse:separate;
}
#list-tarifas-body th
{
font-size:10px;
padding-top:3px;
padding-bottom:2px;
background-color:#80211D;
color:#ffffff;
}

#list-tarifas-body td
{
text-align:left;
font-size:10px;
padding:3px 7px 2px 7px;    
}


#list-tarifas tr.alt td 
{
color:#000000;
background-color:#EE9A98;
}

#tabla-busqueda
{
width:70%;
border-style:none;
border-spacing: 2px;
border-collapse:separate;
}
#tabla-busqueda td, #tabla-busqueda th 
{
text-align:left;
font-size:1em;
padding:2px 7px 2px 7px;
}
#tabla-busqueda th 
{
font-size:1.1em;
padding-top:5px;
padding-bottom:4px;
background-color:#80211D;
color:#ffffff;
}
#tabla-busqueda tr.alt td 
{
color:#000000;
background-color:#EE9A98;
}

#list-documento , #list-documento-selected 
{
border-style:none;
border-spacing: 1px;
border-collapse:separate;
}

#list-documento-body th , #list-documento-selected th
{
font-size:10px;
padding-top:3px;
padding-bottom:2px;
background-color:#80211D;
color:#ffffff;
}

#list-documento td , #list-documento-selected  td
{
text-align:left;
font-size:10px;
padding:3px 7px 2px 7px;
}

#list-documento-body, #list-documento-selected
{
border-style:none;
border-spacing: 1px;
border-collapse:separate;
}
#list-documento-body th ,  #list-documento-selected th
{
font-size:10px;
padding-top:3px;
padding-bottom:2px;
background-color:#80211D;
color:#ffffff;
}

#list-documento-body td ,  #list-documento-selected td
{
text-align:left;
font-size:10px;
padding:3px 7px 2px 7px;    
}


#list-documento tr.alt td , #list-documento-selected tr.alt td
{
color:#000000;
background-color:#EE9A98;
}


#tabla-traductor td.titulo
{
    font-size: 15px;
    color: #80211D;
}

#list-responsables-body td
{
  
  font-size: 9px;
  padding:1px 5px 1px 5px;
}

table.tw_form
{
  border:solid 1px #005C8D;
}


table.tw_in
{
    border-collapse:collapse;
    border-style:inset;
    border-color:#80211D;
}

th.tw_form
{
    font-size:20px;
    color:#80211F;
    padding-top:2px;
    padding-bottom:4px;
}

th.tw
{
    background-color:#80211F;
}

tr.tw
{
    background-color:#CE8785;
}
td.tw
{
    border:solid 1px #005C8D;
}

td.tw_form
{
    text-align:center;
}

/*Lineas*/
hr.tw
{
    border-style:inset;

}

/*Cajas de texto*/
input.tw_form
{
    border:solid 1px #005C8D;
}

textarea.tw_form
{
    border:solid 1px #005C8D;
}



A:hover {COLOR: #0066CC; TEXT-DECORATION: none}
a {
     border-bottom-style:none
}


div.fixedHeaderTable {
      position: relative;
  }
  div.fixedHeaderTable table {
      width:100%;
  }
  div.fixedHeaderTable tbody {
      height: 100px;
     overflow-y: auto;
     overflow-x: hidden;
 }
 /*div.fixedHeaderTable table th {
     background-color:#CCCCCC;font-weight:bold
 }
 div.fixedHeaderTable table td {
     background-color:#EEEEEE
 }*/
 div.fixedHeaderTable thead td, div.fixedHeaderTable thead th {
     position:relative;
 }
 
 /* IE7 hacks */
 div.fixedHeaderTable {
     *position: relative;
     *height: 100px;
     *overflow-y: scroll;
     *overflow-x: hidden;
     *padding-right:16px;
 }
 
 div.fixedHeaderTable thead tr {
     *position: relative;
     _position: absolute;
     *top: expression(this.offsetParent.scrollTop-2);
     *background:none;
     background-color:transparent;
 }
  
 div.fixedHeaderTable tbody {
     *height: auto;
     *position:absolute;
     *top:50px;   
 }

 /* IE6 hacks */
 div.fixedHeaderTable {
     _width:expression(this.offsetParent.clientWidth-20);
     _overflow: auto;
     _overflow-y: scroll;
     _overflow-x: hidden;
 }
 div.fixedHeaderTable thead tr {
     _position: relative
 }

.cpYearNavigation,
	.cpMonthNavigation
			{
			background-color:#80211F;
			text-align:center;
			vertical-align:center;
			text-decoration:none;
			color:#FFFFFF;
			font-weight:bold;
			}
	.cpDayColumnHeader,
	.cpYearNavigation,
	.cpMonthNavigation,
	.cpCurrentMonthDate,
	.cpCurrentMonthDateDisabled,
	.cpOtherMonthDate,
	.cpOtherMonthDateDisabled,
	.cpCurrentDate,
	.cpCurrentDateDisabled,
	.cpTodayText,
	.cpTodayTextDisabled,
	.cpText
			{
			font-family:arial;
			font-size:8pt;
			}
	TD.cpDayColumnHeader
			{
			text-align:right;
			/*border:solid thin #6677DD;*/
			border-width:0 0 1 0;
			}
	.cpCurrentMonthDate,
	.cpOtherMonthDate,
	.cpCurrentDate
			{
			text-align:right;
			text-decoration:none;
			}
	.cpCurrentMonthDateDisabled,
	.cpOtherMonthDateDisabled,
	.cpCurrentDateDisabled
			{
			color:#D0D0D0;
			text-align:right;
			text-decoration:line-through;
			}
	.cpCurrentMonthDate
			{
			color:#82ABC5;
			font-weight:bold;
			}
	.cpCurrentDate
			{
			color: #FFFFFF;
			font-weight:bold;
			}
	.cpOtherMonthDate
			{
			color:#808080;
			}
	TD.cpCurrentDate
			{
			color:#FFFFFF;
			background-color: #6677DD;
			border-width:1;
			border:solid thin #000000;
			}
	TD.cpCurrentDateDisabled
			{
			border-width:1;
			border:solid thin #FFAAAA;
			}
	TD.cpTodayText,
	TD.cpTodayTextDisabled
			{
			border:solid thin #6677DD;
			border-width:1 0 0 0;
			}
	A.cpTodayText,
	SPAN.cpTodayTextDisabled
			{
			height:20px;
			}
	A.cpTodayText
			{
			color:#80211F;
			font-weight:bold;
			}
	SPAN.cpTodayTextDisabled
			{
			color:#D0D0D0;
			}
	.cpBorder
			{
			border:solid thin #6677DD;
			}rTableIdiom {
      position: relative;
  }
  div.fixedHeaderTableIdiom table {
      width:100%;
  }
  div.fixedHeaderTableIdiom tbody {
      height: 60px;
     overflow-y: auto;
     overflow-x: hidden;
 }
 /*div.fixedHeaderTable table th {
     background-color:#CCCCCC;font-weight:bold
 }
 div.fixedHeaderTable table td {
     background-color:#EEEEEE
 }*/
 div.fixedHeaderTableIdiom thead td, div.fixedHeaderTable thead th {
     position:relative;
 }
 
 /* IE7 hacks */
 div.fixedHeaderTableIdiom {
     *position: relative;
     *height: 60px;
     *overflow-y: scroll;
     *overflow-x: hidden;
     *padding-right:16px;
 }
 
 div.fixedHeaderTableIdiom thead tr {
     *position: relative;
     _position: absolute;
     *top: expression(this.offsetParent.scrollTop-2);
     *background:none;
     background-color:transparent;
 }
  
 div.fixedHeaderTableIdiom tbody {
     *height: auto;
     *position:absolute;
     *top:50px;   
 }

 /* IE6 hacks */
 div.fixedHeaderTableIdiom {
     _width:expression(this.offsetParent.clientWidth-20);
     _overflow: auto;
     _overflow-y: scroll;
     _overflow-x: hidden;
 }
 div.fixedHeaderTableIdiom thead tr {
     _position: relative
 }

div.fixedHeaderTableGasto table {
      width:100%;
  }
  div.fixedHeaderTableGasto tbody {
      height: 400px;
     overflow-y: auto;
     overflow-x: hidden;
 }
 /*div.fixedHeaderTable table th {
     background-color:#CCCCCC;font-weight:bold
 }
 div.fixedHeaderTable table td {
     background-color:#EEEEEE
 }*/
 div.fixedHeaderTableGasto thead td, div.fixedHeaderTableGasto thead th {
     position:relative;
 }
 
 /* IE7 hacks */
 div.fixedHeaderTableGasto {
     *position: relative;
     *height: 400px;
     *overflow-y: scroll;
     *overflow-x: hidden;
     *padding-right:16px;
 }
 
 div.fixedHeaderTableGasto thead tr {
     *position: relative;
     _position: absolute;
     *top: expression(this.offsetParent.scrollTop-2);
     *background:none;
     background-color:transparent;
 }
  
 div.fixedHeaderTableGasto tbody {
     *height: auto;
     *position:absolute;
     *top:50px;   
 }

 /* IE6 hacks */
 div.fixedHeaderTableGasto {
     _width:expression(this.offsetParent.clientWidth-20);
     _overflow: auto;
     _overflow-y: scroll;
     _overflow-x: hidden;
 }
 div.fixedHeaderTableIdiom thead tr {
     _position: relative
 }

